body {
    font-family: 'Source Serif Pro', serif;
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f7f4;
    color: #474747;
}

/* Header */

.customNav {
    padding: 16px 16px;
    background-color: #474747 !important;
}

.navbar-brand {
    font-family: Source Serif Pro;
    font-weight: 700;
    font-size: 32px;
    color: #f9f7f4;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #f9f7f4;
}

.navbar-toggler {
    color: #f9f7f4;
}

.navbar :hover {
    color: #f9f7f4;
}

/* Home Page */
.jumbotron {
    background-color: #474747;
    width: 100%;
    color: #F9F7F4;
    padding-bottom: 96px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.jumbotron h1{
    font-size: 48px;
    font-weight: 400;
    padding-left: 32px;
    padding-bottom: 5px;
    margin: 0;
}

#last {
    padding-bottom: 48px;
}

.jumbotron p {
    font-size: 24px;
    line-height: 30px;
    width: 80%;
    padding-left: 32px;
}

.button {
    display: inline-block;
    text-align: center;
    padding: 16px;
    padding-right: 20%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

a{
    font-size: 20px;
    text-decoration: none;
    color: #F9F7F4;
}

.arrow {
    margin-left: 8px;
}

.projects {
    margin-right: 32px;
    margin-left: 32px;
}

.projectContainer{
    width: 60%;
}

.projectImage{
    width: 100%;
    height: auto;
}

.projectRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 48px;
    margin-top: 48px;
}

.projectTitle {
    padding: 8px;
    text-align: left;
    font-family: Source Serif Pro, serif;
    font-size: 24px;
    background-color: #F9F7F4;
    color: #474747;
}

.projectLeft {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
} 

/* About Page */

.aboutMe {
    display: flex;
    align-items: flex-end;
    padding-top: 48px;
    padding-bottom: 48px;
}

.aboutMe h1{
    padding-left: 32px;
    width: 75%;
    padding-bottom: 48px;
}

.aboutMe p { 
    font-family: Montserrat;
    font-size: 24px;
    width: 100%;
    padding-left: 32px;
}


.headshot {
    height: auto;
    width: 320px;
    margin-right: 32px;
    margin-left: 10%;
}

.CTA {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #474747;
    margin-bottom: 16px;
}

.primaryButton {
    display: flex;
    justify-content: center;
    padding-bottom: 140px;
}

.btn-primary {
    background-color: #474747;
    color: #F9F7F4;
    border-color: #474747;
}

.btn:hover {
    background-color: #474747;
    border: #474747;
}

/* Featured Work Page */

.featuredWork h3 {
    width: 60%;
}

.pageTitle {
    color: #474747;
    text-align: center;
    padding: 0px;
    padding-top: 48px;
}

.featuredWork h3 {
    font-family: Source Serif Pro;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

.aboutProject {
    padding: 8px;
    text-align: justify;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 30px;
    background-color: #F9F7F4;
    color: #474747;
}

.project1, .project2, .project3, .project4 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 96px;
}

/* Case Study Content */

h1 {
    font-family: Source Serif Pro;
    font-size: 48px;
}

h3 {
    font-family: Source Serif Pro;
    font-size: 36;
    font-weight: 800;
    padding: 32px 0px;
}

h4 {
    font-size: 24px;
    font-weight: 600;
    padding: 24px 0px;    
}

p, li {
    font-size: 18px;
    line-height: 34px;
}

#overview, #process, #research, #ideate, #design, #testIterate, #prototype, #conclusion, #thankYou {
    margin-bottom: 84px;
}

#overview {
    margin-top: 48px;
}

.hero {
    width: 100%;
    height: auto;
}

.designProcess {
    display: flex; 
    flex-direction: column;
}

.processIcon {
    width: auto;
    height: 45px;
}

.quote {
    font-style: italic;
}

.visual {
    margin-bottom: 24px;
}

.img-responsive {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
}

.presentation {
    width: 100%;
}

/* Footer */

footer {
    background-color: #474747;
    color: #F9F7F4;
    padding: 16px 32px;
    margin-top: 96px;
}

h5 {
    font-family: Source Serif Pro;
    font-size: 40px;
    color: #f9f7f4;
    padding-right: 16px;
}

h6 {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    color: #F9F7F4;
}

/* Media Query Max-Width 1000px */
@media only screen and (max-width: 1000px) {
    .headshot {
        display: none;
    }

    .subStep {
        margin: auto;
    }

    .aboutMe {
        align-items: flex-start;
        padding-top: 48px;
    }

    .aboutMe p {
        width: 100%;
        padding-right: 32px;
    }

}

/* Media Query Max-Width 600px */
@media only screen and (max-width: 600px) {
    .projectRight, .projectLeft {
        align-items: center;
    }

    .projectTitle {
        text-align: center;
    }    

    .aboutMe {
        padding-top: 48px;
    }

    .aboutMe p {
        font-size: 20px;
        line-height: 30px;
    }

    .CTA, .pageTitle {
        font-size: 40px;
    }

    .CTA {
        padding-left: 32px;
        padding-right: 32px;
    }

    h3 {
        font-size: 20px;
    }

    .aboutProject {
        font-size: 14px;
    }

    .project1, .project2, .project3, .project4 {
        margin-bottom: 48px;
    }

    .basics, .designProcess {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    .subStep p {
        font-size: 16px;
    }


}